{% extends "base.html" %} {% block content %}

<div class="page-header">
  <img
    alt="avatar img"
    class="img-rounded profile-thumbnail"
    src="{{ url_for('static', filename='profile_imgs/' + user.profile_image) }}"
  />
  <div class="profile-header">
    <h1>{{ user.username }}</h1>
    <p>
      <a href="mailto:{{ user.email }}">{{ user.email }}</a>
    </p>
    {% if user.about_me %}
    <p>{{ user.about_me }}</p>
    {% else %}
    <p>Write something to tell the world about you.</p>
    {% endif %}
    <p>{{ user.posts|length }} blog posts.</p>
    {% if user == current_user%}
      <p>
        <a
          class="btn btn-primary"
          href="{{ url_for('users.edit_profile') }}"
        >
          Edit Profile</a
        >
      </p>
    {% endif %}
  </div>
</div>

{% endblock content %}
