{% extends "base.html" %} {% block content %}

<main class="form-center w-100 m-auto text-center">
  <form method="POST" action enctype="multipart/form-data">
    {# This hidden_tag is a CSRF security feature. #} {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Edit your profile</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username"
        required
        name="username"
        value="{{ form.username.data }}"
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        required
        name="email"
        value="{{ form.email.data }}"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="About me"
        name="about_me"
        value="{{ form.about_me.data }}"
      />
      <label for="floatingInput">About me</label>
    </div>
    <div class="form-floating">
      <input
        type="file"
        accept="image/*"
        class="form-control"
        id="about_me"
        alt="profile image"
        name="picture"
      />
      <label for="floatingInput">Avatar</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
  </form>
</main>

{% endblock content %}
